@import "./_vars";

@mixin flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin list {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
}

@mixin reset-link {
    text-decoration: none;
    outline: none;
  }

@mixin nav_link {
  font-weight: bold;
  font-size: 16px;
  color: $link-content-color;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  transition: color 300ms linear;
}

@mixin before-nav-back {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  z-index: $z-index-before;
  background-color: $nav-activ-background;
  transition: all 200ms linear;
}

@mixin drop {
  content: '';
  position: absolute;
  right: 0;
  top: 34px;
  width: 9px;
  height: 8px;
  background-image: url("../../assets/drop.png");
  background-position: bottom;
  background-repeat: no-repeat;
  transition: all 200ms linear;
}

@mixin icon-after {
  display: block;
  position: absolute;
  right: -10px;
  top: -10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid $button-after-color;
  color: $button-after-color;
  text-align: center;
  font-size: 12px;
  font-weight: 900;
  line-height: 15px;
  background-color: #fff;
}

@mixin head {
  font-family: $font-family-head;
  font-weight: 600;
}

@mixin main-color-head {
  color: $head-main-color;
}

@mixin big-head {
  font-size: 48px;
}

@mixin preview-buttons ($width, $height) {
  width: $width;
  height: $height;
  border-radius: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}

  