$font-family-main: roboto, sans-serif;
$font-family-head: roboto condensed, sans-serif;
$link-content-color: #45413e;
$head-main-color: #45413e;
$buttom-after-color: #8675cc;
$pass-visited-link: #8675cc;
$main-background: #f1edea;
$nav-activ-background: #262a32;
$z-index-before: -1;
