$font-family-main: roboto, sans-serif;
$font-family-head: roboto condensed, sans-serif;
$font-family-head-product: roboto slab, sans-serif;
$link-content-color: #45413e;
$pre-footer-back: #45413e;
$head-main-color: #45413e;
$button-after-color: #8675cc;
$pass-visited-link: #8675cc;
$main-background: #f1edea;
$nav-activ-background: #262a32;
$select-colo-grey: #585d61;
$border-color-preview-button: #e8e2d6;
$counter-color: #b2b2b2;
$carousel-info-color: #2c3e50;
$price-carousel-color: #bdc3c7;
$non-active-tab-color: #bdc3c7;
$pre-footer-text-color: #868380;
$z-index-before: -1;
